@import './../../asstets/abstracts/veriables';

.hwBlock{
    margin: 20px 0 40px 0;
    color: #e5e3e3;
}

.title{
    padding: 0;

    background-color: $blockPhone;

    text-align: center;
    text-transform: uppercase;
    font-size: 30px;



}