.superInput {
    width: 100px;
    height: 30px;

    margin: 5px;

    border-style: none;

    border-radius: 40px;

    background-color: rgba(221, 229, 224, 0.38);

    color:white;

    font-size: 15px;

    transition: all .3s ease;

    outline:0;
}

.errorInput {
    border: 3px solid #050505;
    //background: #00ff34;

    color:sienna;
}

.error {
    color: red;
}