@import './../../../asstets/abstracts/veriables';

.affair {
  width: 500px;

  margin: 0 auto;

  display: flex;
  align-items: center;

  justify-content: space-between;


}

.blockText {
  color: $titleColor;

  font-size: 1.2rem;

  transition: $transition;

  &:hover {
    color: #f1af61;
  }
}

.blockBtn {
  &:active {
    color: red;
  }
}
